#div{
  border: 1px solid black;
  border-radius: 10px;
  background-color: aliceblue;
  height: auto;
}
.container {
  background-color: #fff;
  padding: 30px 40px 30px 40px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 600px;
  max-width: 90%;
  margin-top: 50px;
  margin-left: 300px;
}

.form h2 {
  margin: 20px;
  padding-bottom: 20rem;
  font-size: 24px;
  position: relative;
  display: inline-block;
  border-bottom: 2px solid #4f46e5;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: 500;
}

.form-group input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #4f46e5;
}

.gender-group {
  margin-bottom: 20px;
}

.gender-group label {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}

.genders {
  display: flex;
  gap: 20px;
}

.genders label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: normal;
}

.btn-reg{
  width: 100%;
  padding: 12px;
  border: none;
  background: linear-gradient(to right, #56ccf2, #7f56d9);
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;

}

.btn-reg:hover {
  background: linear-gradient(to right, #4ea1f2, #6a40c9);
}